<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpatialMapsWpfUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SpatialMapsWpfUi.Properties.Settings>
            <setting name="LeftPolygonColor" serializeAs="String">
                <value>#FF8A2BE2</value>
            </setting>
            <setting name="RightPolygonColor" serializeAs="String">
                <value>#FF7CFC00</value>
            </setting>
            <setting name="LeftAreaName" serializeAs="String">
                <value>Left Figure Area</value>
            </setting>
            <setting name="AboutString" serializeAs="String">
                <value>Made by Piotr Falkowski 2016</value>
            </setting>
            <setting name="RightAreaName" serializeAs="String">
                <value>Right Figure Area</value>
            </setting>
            <setting name="LeftPerimeterName" serializeAs="String">
                <value>Left Figure Perimeter</value>
            </setting>
            <setting name="RightPerimeterName" serializeAs="String">
                <value>Right Figure Perimeter</value>
            </setting>
            <setting name="AreaDifferenceName" serializeAs="String">
                <value>Area Difference</value>
            </setting>
            <setting name="PerimeterDifferenceName" serializeAs="String">
                <value>Perimeter Difference</value>
            </setting>
            <setting name="LeftOverlappingAreaName" serializeAs="String">
                <value>Left Overlapping Area</value>
            </setting>
            <setting name="RightOverlappingAreaName" serializeAs="String">
                <value>Right Overlapping Area</value>
            </setting>
            <setting name="LeftNonOverlappingAreaName" serializeAs="String">
                <value>Left Non-Overlapping Area</value>
            </setting>
            <setting name="RightNonOverlappingAreaName" serializeAs="String">
                <value>Right Non-Overlapping Area</value>
            </setting>
            <setting name="OverlappingAreasSumName" serializeAs="String">
                <value>Overlapping Areas Sum</value>
            </setting>
            <setting name="NonOverlappingAreasSumName" serializeAs="String">
                <value>Non-Overlapping Areas Sum</value>
            </setting>
            <setting name="ResemblenceIndexName" serializeAs="String">
                <value>Common Area %</value>
            </setting>
            <setting name="ScaleFactor" serializeAs="String">
                <value>300</value>
            </setting>
        </SpatialMapsWpfUi.Properties.Settings>
    </userSettings>
</configuration>
